<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <form #f="ngForm">
      <ion-label>Title</ion-label>
      <ion-input ngModel name="title" type="text"></ion-input>

      <ion-label>Author</ion-label>
      <ion-input ngModel name="author" type="text"></ion-input>

      <ion-label>Image</ion-label>
      <ion-input ngModel name="image" type="url"></ion-input>

      <ion-label>Keywords</ion-label>
      <ion-input ngModel name="keywords" type="text"></ion-input>

      <ion-button expand="block" type="submit" (click)="submitHandler(f.value)"
        >Add</ion-button
      >
      <pre>
        {{ f.value | json}}
      </pre>
    </form>
  </div>
</ion-content>
