<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Our Catalog </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        routerLink="/add"
        name="add-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <strong>We propose these new courses : </strong>
    <br />
    <ion-list>
      @for (course of allCourses; track $index) {
      <ion-item [routerLink]="['/details', course.id]">
        <ion-avatar>
          <img [src]="course.image" />
        </ion-avatar>
        <ion-label class="ion-margin-horizontal">
          {{ course.title }} </ion-label
        >
      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
